.header-wrapper-dark,
.header-wrapper-ligth {
  font-family: var(--font);
  width: 100vw;
  height: 70px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper-dark {
  background-color: #1d1d1d;
  color: #fefefe;
}

.header-wrapper-ligth {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#9b30f9),
    to(#84e)
  );
  background-image: linear-gradient(#9b30f9, #84e);
  color: #fefefe;
}

.header-wrapper-ligth span {
  color: #fefefe;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.header-logo {
  width: 110px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  font-size: 1.1rem;
}

.header-menu a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefefe;
}

.header-menu a:hover {
  color: #c495fd;
}

.header-menu a:hover::before {
  content: '<';
  position: absolute;
  left: -20px;
}

.header-menu a:hover::after {
  content: '>';
  position: absolute;
  right: -20px;
}

.header-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.header-socials a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fefefe;
}

.header-socials a:hover {
  color: #c495fd;
  transform: scale(101%);
}

.header-socials span {
  margin-left: 10px;
  font-size: 1.1rem;
}
