.header-wrapper-dark,
.header-wrapper-light {
  font-family: var(--font);
  width: 100vw;
  height: 70px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  animation: show-header 1s ease forwards;
}

@keyframes show-header {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.header-wrapper-dark {
  background-color: #1d1d1d;
  color: #fefefe;
}

.header-wrapper-light {
  background-image: var(--bg-gradient);
  background-image: var(--bg-image);
  color: #fefefe;
}

.header-wrapper-light span {
  color: #fefefe;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.header-logo {
  width: 110px;
}

.header-navbar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  font-size: 1.1rem;
}

.header-menu a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefefe;
  margin-right: 15px;
}

.header-menu a:hover {
  color: #c495fd;
}

.header-menu a:hover::before {
  content: '<';
  position: absolute;
  left: -20px;
}

.header-menu a:hover::after {
  content: '>';
  position: absolute;
  right: -20px;
}

.header-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
}

.header-socials a {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fefefe;
  margin-right: 15px;
}

.header-socials a:hover {
  color: #c495fd;
  transform: scale(101%);
}

.header-socials span {
  margin-left: 10px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1050px) {
  .header-logo {
    width: 90px;
  }

  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    width: 100%;
  }

  .header-menu a,
  .header-socials a {
    font-size: 1.2rem;
    margin: 0 0 15px 0;
  }

  .header-socials a span {
    margin-left: 10px;
  }

  .header-socials {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media only screen and (max-width: 481px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .header-container span {
    margin: 0;
  }

  .header-logo {
    display: none;
  }
}
