.projects-wrapper-dark,
.projects-wrapper-light {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font);
}

.projects-wrapper-dark {
  background-color: #1d1d1d;
  color: #fefefe;
}

.projects-wrapper-light {
  background-color: #fefefe;
  color: #1d1d1d;
}

.projects-title {
  font-size: 2.3rem;
  margin: 15px 0 70px;
}

.projects-title h2 {
  margin: 0 20px;
}
