.projects-wrapper-dark,
.projects-wrapper-light {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font);
}

.projects-wrapper-dark {
  background-color: #1d1d1d;
  color: #fefefe;
}

.projects-wrapper-light {
  background-color: #fefefe;
  color: #1d1d1d;
}

.projects-title {
  font-size: 2.3rem;
  margin: 15px 0 40px;
}

.projects-title h2 {
  margin: 0 20px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 90%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 520px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  margin: 40px;
}

.project-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.project-preview {
  width: 470px;
  margin-top: 15px;
  border-radius: 10px;
}

.project-name-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.project-name {
  padding: 0 15px;
}

.project-name h4 {
  font-size: 1.4rem;
  margin: 30px 0 20px 0;
}

.project-name p {
  font-size: 0.7rem;
  height: 70px;
}

.project-tools {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}

.project-tools button {
  font-size: 0.9rem;
  border: 2px solid #6a6b6f;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  margin-right: 9px;
  color: #6a6b6f;
  background-color: transparent;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.project-buttons a {
  width: 70%;
  text-decoration: none;
}

.project-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-image: var(--bg-gradient);
  background-image: var(--bg-image);
  color: #fefefe;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-buttons button svg {
  font-size: 1.2rem;
  opacity: 0;
  margin-right: -80px;
  position: absolute;
  transition: all 0.4s ease-out;
}

.project-buttons button:hover svg {
  opacity: 1;
  margin-right: -100px;
}

.project-buttons button:hover span {
  margin-right: 20px;
}

.project-buttons button:hover {
  transform: scale(1.04);
}

.project-buttons button svg {
  margin-left: 10px;
}

@media only screen and (max-width: 1366px) {
  .project-card {
    zoom: 0.9;
  }
}

@media only screen and (max-width: 1015px) {
  .project-card {
    zoom: 0.7;
  }
}
