.socials-fixed-dark,
.socials-fixed-light {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  opacity: 0;
  bottom: -78px;
  transform: rotate(90deg);
  font-family: var(--font);
  animation: show-socials 600ms ease forwards;
  animation-delay: 2s;
}

.socials-fixed-dark .socials-icons a {
  color: #fefefe;
}

.socials-fixed-light .socials-icons a {
  color: #212121;
}

.socials-icons a {
  text-decoration: none;
}

.socials-icons {
  transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 1.5rem;
}

.socials-icons a:hover {
  transform: translateY(-5px);
  color: #9b30f9;
}

@keyframes show-socials {
  from {
    opacity: 0;
    left: -200px;
  }
  to {
    opacity: 1;
    left: -130px;
  }
}

.socials-fixed-line {
  margin-left: 60px;
  width: 90px;
}

@media only screen and (max-width: 768px) {
  .socials-fixed-dark,
  .socials-fixed-light {
    display: none;
  }
}
